@import 'variables';

$pixel: 10px;

.navegador {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  transition: all 0.8s ease-in-out;
  z-index: 999;
}

.navegador:hover {
  background: rgba(100, 148, 237, 0.541);
}

.navegador__lista {
  display: flex;
}

.navegador__elemento {
  margin: 2px 5px 0 5px;
  line-height: 40px;
}

.navegador__links {
  color: $black2;
  padding: 8px;
  font-family: 'Amatic SC', cursive;
  line-height: 50px;
  font-size: 1.7em;
  transition: all 0.6s ease;
}

.navegador__links:hover {
  text-decoration: none;
  color: $white;
  background: $red;
  border-radius: 25px;
}

#active {
  color: $black2;
  font-family: 'Amatic SC', cursive;
  font-size: 1.7em;
  border: 2px solid $red;
  border-radius: 5px;
  padding: 2px;
  margin-top: 4px;
  line-height: 35px;
}



