
/* COLORES */

$black: rgb(19,19,19);
$nav-primario: #1a98f8;
$nav-secundario: #3c9de7;
$white: rgb(255, 255, 255);


/* Tamaño */

$general: 100%;
$nav-height: 80px;

/* Alineaciones */

$l: left;
$c: center;
$r: right;