
/* COLORES */

$black: rgb(19,19,19);
$black2: rgb(15, 15, 15);
$nav-primario: #1a98f8;
$nav-secundario: #3c9de7;
$white: rgb(255, 255, 255);
$pink: rgb(253, 203, 211);
$red: rgb(236, 85, 85);

/* Tamaño */

$general: 100%;
$nav-height: 80px;

/* Alineaciones */

$l: left;
$c: center;
$r: right;

/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');